:root {
    --background-color: #fffbfb;

    --base-page-width: 1280px;
    --base-page-offset: 20px;

    --logo-size: 144px;
    --logo-down-offset: 20px;

    --fonts: "Arial", "Helvetica";

    /* Настройки панели меню */
    --menu-color: #ffffff;

    --menu-out-down-offset: 20px;
    --menu-in-all-offset: 20px;

    --menu-rounding: 12px;

    --menu-hyperlink-color: #000000;
    --menu-highlighted-hyperlink-color: #eeeeee;

    --menu-active-hyperlink-page-underline-color: #000000;
    --menu-active-hyperlink-page-underline-width: 3px;
    --menu-active-hyperlink-page-underline-style: solid;
    --menu-active-hyperlink-page-underline-gap: 4px;

    --menu-hyperlinks-gap: 8%;

    --menu-hyperlink-rounding: 12px;
    --menu-hyperlink-font-size: 25px;

    --menu-hyperlink-block-size: 6px 12px;

    /* Настройки нижнего колонтитула */
    --footer-background-color: #555555
}

/* Вся страница */
body {
    background-color: var(--background-color);
    font-family: var(--fonts);
}

/* Блок контента */
.page {
    max-width: var(--base-page-width); /* Ширина блока контента */
    margin: 0 auto;                    /* Отсутствие отступа сверху и снизу у блока контента и его центрирование */
    padding: var(--base-page-offset);  /* Отступ от границы блока контента до контента */
}

/* Логотип */
.logo {
    height: var(--logo-size);
    margin-bottom: var(--logo-down-offset); /* Отступ снизу */
}

/* Панель меню */
.menu {
    /* Корректное отображение при сильном увеличении */
    white-space: nowrap; /* Запрет переноса строк */
    overflow-x: auto;    /* Полоса прокрутки */

    display: flex;
    justify-content: center; /* Выравнивание элементов внутри меню по горизонтали */

    gap: var(--menu-hyperlinks-gap); /* Отступы между объектами меню (гиперссылками) */

    background: var(--menu-color);       /* Цвет заднего фона меню */
    padding: var(--menu-in-all-offset);  /* Внутренние отступы от границы блока меню */
    border-radius: var(--menu-rounding); /* Величина закругления */
    box-shadow: 0 0 10px rgba(0,0,0,0.12);

    margin-bottom: var(--menu-out-down-offset); /* Отступ снизу от меню */
}

/* Гиперссылки в меню */
.menu a {
    text-decoration: none; /* Отключение подсказки о гиперссылке (___) */
    color: var(--menu-hyperlink-color);
    font-size: var(--menu-hyperlink-font-size);

    padding: var(--menu-hyperlink-block-size);     /* Отступы от края области нажатия до текста */
    border-radius: var(--menu-hyperlink-rounding); /* Величина закругления */
}

/* Гиперссылка под курсором в меню*/
.menu a:hover {
    background-color: var(--menu-highlighted-hyperlink-color);
}

/* Гиперссылка активной страница в меню */
.menu a.active {
    border-bottom: var(--menu-active-hyperlink-page-underline-width) var(--menu-active-hyperlink-page-underline-style) var(--menu-active-hyperlink-page-underline-color);
    padding-bottom: var(--menu-active-hyperlink-page-underline-gap);
}

/* Нижний колонтитул */
.site-footer {
    background-color: #f8f8f8;   /* светлый фон */
    color: var(--footer-background-color);                 /* цвет текста */
    text-align: center;          /* центрируем текст */
    padding: 20px;               /* внутренние отступы */
    margin-top: 30px;            /* отступ сверху от контента */
    border-top: 1px solid #ddd;  /* лёгкая граница сверху */
}